<a href="https://colab.research.google.com/github/rcgrangeiro/MonitoRAR/blob/master/Crypto.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install python-binance

Collecting python-binance
  Downloading https://files.pythonhosted.org/packages/79/8c/d41c21d4815627b12e6afbaddfe0b87f34a4c5a835af17c535ed680828e8/python_binance-0.7.9-py2.py3-none-any.whl
Collecting ujson
  Downloading https://files.pythonhosted.org/packages/17/4e/50e8e4cf5f00b537095711c2c86ac4d7191aed2b4fffd5a19f06898f6929/ujson-4.0.2-cp37-cp37m-manylinux1_x86_64.whl (179kB)
     |████████████████████████████████| 184kB 11.5MB/s
Collecting dateparser
  Downloading https://files.pythonhosted.org/packages/78/c4/b5ddc3eeac974d85055d88c1e6b62cc492fc1a93dbe3b66a45a756a7b807/dateparser-1.0.0-py2.py3-none-any.whl (279kB)
     |████████████████████████████████| 286kB 41.2MB/s
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from python-binance) (1.15.0)
Collecting autobahn
  Downloading https://files.pythonhosted.org/packages/f0/8b/816e29fdcb249c3ce8e7e4c16f0547b0255c5f4c9a6cb88c2c91b7d8b202/autobahn-21.3.1-py2.py3-none-any.whl (495kB)
     |████████████████████████████████| 501kB 39.1MB/s
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from python-binance) (2.23.0)
Requirement already satisfied: urllib3 in /usr/local/lib/python3.7/dist-packages (from python-binance) (1.24.3)
Collecting Twisted
  Downloading https://files.pythonhosted.org/packages/f2/16/3eb9c66a7bfb5220c7bcbaaac33d359fe8a157b028959cd210983749b2e0/Twisted-21.2.0-py3-none-any.whl (3.1MB)
     |████████████████████████████████| 3.1MB 50.2MB/s
Collecting service-identity
  Downloading https://files.pythonhosted.org/packages/e9/7c/2195b890023e098f9618d43ebc337d83c8b38d414326685339eb024db2f6/service_identity-18.1.0-py2.py3-none-any.whl
Requirement already satisfied: certifi in /usr/local/lib/python3.7/dist-packages (from python-binance) (2020.12.5)
Collecting cryptography
  Downloading https://files.pythonhosted.org/packages/b2/26/7af637e6a7e87258b963f1731c5982fb31cd507f0d90d91836e446955d02/cryptography-3.4.7-cp36-abi3-manylinux2014_x86_64.whl (3.2MB)
     |████████████████████████████████| 3.2MB 31.1MB/s
Collecting pyOpenSSL
  Downloading https://files.pythonhosted.org/packages/b2/5e/06351ede29fd4899782ad335c2e02f1f862a887c20a3541f17c3fa1a3525/pyOpenSSL-20.0.1-py2.py3-none-any.whl (54kB)
     |████████████████████████████████| 61kB 6.5MB/s
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.7/dist-packages (from dateparser->python-binance) (2.8.1)
Requirement already satisfied: pytz in /usr/local/lib/python3.7/dist-packages (from dateparser->python-binance) (2018.9)
Requirement already satisfied: regex!=2019.02.19 in /usr/local/lib/python3.7/dist-packages (from dateparser->python-binance) (2019.12.20)
Requirement already satisfied: tzlocal in /usr/local/lib/python3.7/dist-packages (from dateparser->python-binance) (1.5.1)
Collecting txaio>=21.2.1
  Downloading https://files.pythonhosted.org/packages/55/53/c9b89497ba46395bbf84a8c511550626cc5c507c0b76680df54435553e53/txaio-21.2.1-py2.py3-none-any.whl
Collecting hyperlink>=21.0.0
  Downloading https://files.pythonhosted.org/packages/6e/aa/8caf6a0a3e62863cbb9dab27135660acba46903b703e224f14f447e57934/hyperlink-21.0.0-py2.py3-none-any.whl (74kB)
     |████████████████████████████████| 81kB 8.3MB/s
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->python-binance) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->python-binance) (2.10)
Collecting zope.interface>=4.4.2
  Downloading https://files.pythonhosted.org/packages/89/57/8a68360d697cf9159cba5ee35f2d25bdcda33883e8b5a997714a191a0b11/zope.interface-5.3.0-cp37-cp37m-manylinux2010_x86_64.whl (248kB)
     |████████████████████████████████| 256kB 37.5MB/s
Requirement already satisfied: attrs>=19.2.0 in /usr/local/lib/python3.7/dist-packages (from Twisted->python-binance) (20.3.0)
Collecting Automat>=0.8.0
  Downloading https://files.pythonhosted.org/packages/dd/83/5f6f3c1a562674d65efc320257bdc0873ec53147835aeef7762fe7585273/Automat-20.2.0-py2.py3-none-any.whl
Collecting incremental>=16.10.1
  Downloading https://files.pythonhosted.org/packages/99/3b/4f80dd10cb716f3a9e22ae88f026d25c47cc3fdf82c2747f3d59c98e4ff1/incremental-21.3.0-py2.py3-none-any.whl
Collecting constantly>=15.1
  Downloading https://files.pythonhosted.org/packages/b9/65/48c1909d0c0aeae6c10213340ce682db01b48ea900a7d9fce7a7910ff318/constantly-15.1.0-py2.py3-none-any.whl
Requirement already satisfied: pyasn1 in /usr/local/lib/python3.7/dist-packages (from service-identity->python-binance) (0.4.8)
Requirement already satisfied: pyasn1-modules in /usr/local/lib/python3.7/dist-packages (from service-identity->python-binance) (0.2.8)
Requirement already satisfied: cffi>=1.12 in /usr/local/lib/python3.7/dist-packages (from cryptography->python-binance) (1.14.5)
Requirement already satisfied: setuptools in /usr/local/lib/python3.7/dist-packages (from zope.interface>=4.4.2->Twisted->python-binance) (54.2.0)
Requirement already satisfied: pycparser in /usr/local/lib/python3.7/dist-packages (from cffi>=1.12->cryptography->python-binance) (2.20)
Installing collected packages: ujson, dateparser, txaio, cryptography, hyperlink, autobahn, zope.interface, Automat, incremental, constantly, Twisted, service-identity, pyOpenSSL, python-binance
Successfully installed Automat-20.2.0 Twisted-21.2.0 autobahn-21.3.1 constantly-15.1.0 cryptography-3.4.7 dateparser-1.0.0 hyperlink-21.0.0 incremental-21.3.0 pyOpenSSL-20.0.1 python-binance-0.7.9 service-identity-18.1.0 txaio-21.2.1 ujson-4.0.2 zope.interface-5.3.0

In [ ]:
api_key = 'insira aqui sua chave de api'
api_secret ='insira qui sua senha de api'

In [ ]:
from binance.client import Client
import json
import pandas as pd
client = Client(api_key=api_key, api_secret=api_secret)

In [ ]:
btcbrl = client.get_klines(symbol='BTCBRL', interval=Client.KLINE_INTERVAL_15MINUTE,limit=1000)

with open('btc_df.json', 'w') as e:
    json.dump(btcbrl, e)

for line in btcbrl:
    del line[5:]

btc_df = pd.DataFrame(btcbrl, columns=['date', 'open', 'high', 'low', 'close'])
btc_df.set_index('date', inplace=True)
btc_df.index = pd.to_datetime(btc_df.index, unit='ms')
print(btc_df.head())

btc_df['close'] = pd.to_numeric(btc_df['close'])

btc_df

                                open  ...            close
date                                  ...
2021-03-27 14:15:00  315776.00000000  ...  315659.00000000
2021-03-27 14:30:00  315194.00000000  ...  316223.00000000
2021-03-27 14:45:00  316223.00000000  ...  316500.00000000
2021-03-27 15:00:00  316500.00000000  ...  317142.00000000
2021-03-27 15:15:00  317174.00000000  ...  317974.00000000

[5 rows x 4 columns]

                                open  ...     close
date                                  ...
2021-03-27 14:15:00  315776.00000000  ...  315659.0
2021-03-27 14:30:00  315194.00000000  ...  316223.0
2021-03-27 14:45:00  316223.00000000  ...  316500.0
2021-03-27 15:00:00  316500.00000000  ...  317142.0
2021-03-27 15:15:00  317174.00000000  ...  317974.0
...                              ...  ...       ...
2021-04-06 23:00:00  328124.00000000  ...  329238.0
2021-04-06 23:15:00  329240.00000000  ...  328836.0
2021-04-06 23:30:00  328837.00000000  ...  328169.0
2021-04-06 23:45:00  328172.00000000  ...  328657.0
2021-04-07 00:00:00  328655.00000000  ...  329126.0

[1000 rows x 4 columns]

In [ ]:
ethbrl = client.get_klines(symbol='ETHBRL', interval=Client.KLINE_INTERVAL_15MINUTE,limit=1000)

with open('eth_df.json', 'w') as e:
    json.dump(btcbrl, e)

for line in ethbrl:
    del line[5:]

eth_df = pd.DataFrame(ethbrl, columns=['date', 'open', 'high', 'low', 'close'])
eth_df.set_index('date', inplace=True)
eth_df.index = pd.to_datetime(eth_df.index, unit='ms')


eth_df['close'] = pd.to_numeric(eth_df['close'])

eth_df

                               open            high             low     close
date
2021-03-27 15:00:00   9739.65000000   9759.39000000   9731.25000000   9759.39
2021-03-27 15:15:00   9759.39000000   9780.70000000   9759.39000000   9767.33
2021-03-27 15:30:00   9760.55000000   9767.34000000   9742.54000000   9742.73
2021-03-27 15:45:00   9742.73000000   9761.71000000   9737.07000000   9737.07
2021-03-27 16:00:00   9746.19000000   9816.94000000   9746.19000000   9804.14
...                             ...             ...             ...       ...
2021-04-06 23:45:00  11968.96000000  11994.33000000  11957.36000000  11969.50
2021-04-07 00:00:00  11969.50000000  12049.99000000  11948.15000000  12030.00
2021-04-07 00:15:00  12030.79000000  12048.09000000  11969.61000000  12011.41
2021-04-07 00:30:00  12011.41000000  12014.26000000  11944.67000000  11963.27
2021-04-07 00:45:00  11943.01000000  11943.01000000  11856.76000000  11887.63

[1000 rows x 4 columns]

#1. Ajustando os dados

In [ ]:
btc_close = pd.DataFrame()
btc_close['sinal'] = btc_df['close']
btc_close

                        sinal
date
2021-03-27 14:15:00  315659.0
2021-03-27 14:30:00  316223.0
2021-03-27 14:45:00  316500.0
2021-03-27 15:00:00  317142.0
2021-03-27 15:15:00  317974.0
...                       ...
2021-04-06 23:00:00  329238.0
2021-04-06 23:15:00  328836.0
2021-04-06 23:30:00  328169.0
2021-04-06 23:45:00  328657.0
2021-04-07 00:00:00  329126.0

[1000 rows x 1 columns]

#2. Instalar e importar a BTA Lib

In [ ]:
!pip install bta-lib

Collecting bta-lib
  Downloading https://files.pythonhosted.org/packages/fa/72/7367a8f398f5281538aa14320de927e7838ac4e5dee57ba112ad276f6406/bta_lib-1.0.0-py2.py3-none-any.whl (92kB)
     |████████████████████████████████| 102kB 5.4MB/s
Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (from bta-lib) (1.1.5)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas->bta-lib) (2.8.1)
Requirement already satisfied: numpy>=1.15.4 in /usr/local/lib/python3.7/dist-packages (from pandas->bta-lib) (1.19.5)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas->bta-lib) (2018.9)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas->bta-lib) (1.15.0)
Installing collected packages: bta-lib
Successfully installed bta-lib-1.0.0

In [ ]:
import btalib as bta

In [ ]:
btc_bands = bta.bbands(btc_close.sinal, period=20, devs=2.0).df

In [ ]:
btc_bands

                           mid            top            bot
date
2021-03-27 14:15:00        NaN            NaN            NaN
2021-03-27 14:30:00        NaN            NaN            NaN
2021-03-27 14:45:00        NaN            NaN            NaN
2021-03-27 15:00:00        NaN            NaN            NaN
2021-03-27 15:15:00        NaN            NaN            NaN
...                        ...            ...            ...
2021-04-06 23:00:00  328957.85  330837.252807  327078.447193
2021-04-06 23:15:00  328896.05  330704.801334  327087.298666
2021-04-06 23:30:00  328804.65  330565.748438  327043.551562
2021-04-06 23:45:00  328774.10  330523.144299  327025.055701
2021-04-07 00:00:00  328762.00  330497.740073  327026.259927

[1000 rows x 3 columns]

In [ ]:
btc_up = pd.DataFrame()
btc_down = pd.DataFrame()

btc_down['sinal'] = btc_bands['bot']
btc_up['sinal'] =btc_bands['top']

In [ ]:
btc_down['sinal'] = pd.to_numeric(btc_down['sinal'])
btc_up['sinal'] = pd.to_numeric(btc_up['sinal'])

btc_down.fillna(0)
btc_up.fillna(0)

                             sinal
date
2021-03-27 14:15:00       0.000000
2021-03-27 14:30:00       0.000000
2021-03-27 14:45:00       0.000000
2021-03-27 15:00:00       0.000000
2021-03-27 15:15:00       0.000000
...                            ...
2021-04-06 23:00:00  330837.252807
2021-04-06 23:15:00  330704.801334
2021-04-06 23:30:00  330565.748438
2021-04-06 23:45:00  330523.144299
2021-04-07 00:00:00  330497.740073

[1000 rows x 1 columns]

In [ ]:
posicao = btc_up.copy()
posicao['sinal'] = 0
posicao

                     sinal
date
2021-03-27 14:15:00      0
2021-03-27 14:30:00      0
2021-03-27 14:45:00      0
2021-03-27 15:00:00      0
2021-03-27 15:15:00      0
...                    ...
2021-04-06 23:00:00      0
2021-04-06 23:15:00      0
2021-04-06 23:30:00      0
2021-04-06 23:45:00      0
2021-04-07 00:00:00      0

[1000 rows x 1 columns]

In [ ]:
posicao[btc_close > btc_up] = -1.0
posicao[btc_close <= btc_down] = 1.0
posicao['sinal'].fillna(0)

date
2021-03-27 14:15:00    0
2021-03-27 14:30:00    0
2021-03-27 14:45:00    0
2021-03-27 15:00:00    0
2021-03-27 15:15:00    0
                      ..
2021-04-06 23:00:00    0
2021-04-06 23:15:00    0
2021-04-06 23:30:00    0
2021-04-06 23:45:00    0
2021-04-07 00:00:00    0
Name: sinal, Length: 1000, dtype: int64

#3. Criar estrutura de backtesting

In [ ]:
!pip install bt

Collecting bt
  Downloading https://files.pythonhosted.org/packages/4a/46/125bc4daae5344d9fc26766cfb8d2e1fa4ae5d01109375952aabee3d1eb8/bt-0.2.8.tar.gz (2.8MB)
     |████████████████████████████████| 2.8MB 7.3MB/s
  Installing build dependencies ... done
  Getting requirements to build wheel ... done
    Preparing wheel metadata ... done
Collecting pyprind>=2.10
  Downloading https://files.pythonhosted.org/packages/1e/30/e76fb0c45da8aef49ea8d2a90d4e7a6877b45894c25f12fb961f009a891e/PyPrind-2.11.2-py3-none-any.whl
Collecting ffn>=0.3.5
  Downloading https://files.pythonhosted.org/packages/81/f1/6dcfadb91e9ca0ddbe81dcfd8d86a60d0c58af92ce686b0da94296787e31/ffn-0.3.5-py3-none-any.whl
Requirement already satisfied: future>=0.15 in /usr/local/lib/python3.7/dist-packages (from ffn>=0.3.5->bt) (0.16.0)
Requirement already satisfied: scikit-learn>=0.15 in /usr/local/lib/python3.7/dist-packages (from ffn>=0.3.5->bt) (0.22.2.post1)
Requirement already satisfied: pandas-datareader>=0.2 in /usr/local/lib/python3.7/dist-packages (from ffn>=0.3.5->bt) (0.9.0)
Requirement already satisfied: pandas>=0.19 in /usr/local/lib/python3.7/dist-packages (from ffn>=0.3.5->bt) (1.1.5)
Requirement already satisfied: scipy>=0.15 in /usr/local/lib/python3.7/dist-packages (from ffn>=0.3.5->bt) (1.4.1)
Requirement already satisfied: decorator>=4 in /usr/local/lib/python3.7/dist-packages (from ffn>=0.3.5->bt) (4.4.2)
Requirement already satisfied: tabulate>=0.7.5 in /usr/local/lib/python3.7/dist-packages (from ffn>=0.3.5->bt) (0.8.9)
Requirement already satisfied: numpy>=1.5 in /usr/local/lib/python3.7/dist-packages (from ffn>=0.3.5->bt) (1.19.5)
Requirement already satisfied: matplotlib>=1 in /usr/local/lib/python3.7/dist-packages (from ffn>=0.3.5->bt) (3.2.2)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from scikit-learn>=0.15->ffn>=0.3.5->bt) (1.0.1)
Requirement already satisfied: lxml in /usr/local/lib/python3.7/dist-packages (from pandas-datareader>=0.2->ffn>=0.3.5->bt) (4.2.6)
Requirement already satisfied: requests>=2.19.0 in /usr/local/lib/python3.7/dist-packages (from pandas-datareader>=0.2->ffn>=0.3.5->bt) (2.23.0)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.19->ffn>=0.3.5->bt) (2018.9)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.19->ffn>=0.3.5->bt) (2.8.1)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=1->ffn>=0.3.5->bt) (2.4.7)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=1->ffn>=0.3.5->bt) (1.3.1)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=1->ffn>=0.3.5->bt) (0.10.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.19.0->pandas-datareader>=0.2->ffn>=0.3.5->bt) (2020.12.5)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.19.0->pandas-datareader>=0.2->ffn>=0.3.5->bt) (2.10)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests>=2.19.0->pandas-datareader>=0.2->ffn>=0.3.5->bt) (3.0.4)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.19.0->pandas-datareader>=0.2->ffn>=0.3.5->bt) (1.24.3)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=0.19->ffn>=0.3.5->bt) (1.15.0)
Building wheels for collected packages: bt
  Building wheel for bt (PEP 517) ... done
  Created wheel for bt: filename=bt-0.2.8-cp37-cp37m-linux_x86_64.whl size=759763 sha256=7ca50061996c68510a7bb80d53ed1ac89b5ccb11cb76c32a28d990ad01e0ff44
  Stored in directory: /root/.cache/pip/wheels/d2/a3/b9/3ffad8df5d75eae7b0e3f9a7d68c9a8125c1b82f296a7c94cf
Successfully built bt
Installing collected packages: pyprind, ffn, bt
Successfully installed bt-0.2.8 ffn-0.3.5 pyprind-2.11.2

In [ ]:
import bt

In [ ]:
bbands = bt.Strategy('bbands', [bt.algos.WeighTarget(posicao),
                                bt.algos.Rebalance()])

In [ ]:
bteste = bt.Backtest(bbands, btc_close)

In [ ]:
resultado = bt.run(bteste)

In [ ]:
resultado.display()

Stat                 bbands
-------------------  ----------
Start                2021-03-26
End                  2021-04-07
Risk-free rate       0.00%

Total Return         2.98%
Daily Sharpe         4.51
Daily Sortino        7.21
CAGR                 144.65%
Max Drawdown         -1.48%
Calmar Ratio         97.55

MTD                  2.51%
3m                   -
6m                   -
YTD                  2.98%
1Y                   -
3Y (ann.)            -
5Y (ann.)            -
10Y (ann.)           -
Since Incep. (ann.)  144.65%

Daily Sharpe         4.51
Daily Sortino        7.21
Daily Mean (ann.)    62.69%
Daily Vol (ann.)     13.90%
Daily Skew           -1.06
Daily Kurt           0.69
Best Day             1.33%
Worst Day            -1.48%

Monthly Sharpe       -
Monthly Sortino      -
Monthly Mean (ann.)  30.11%
Monthly Vol (ann.)   -
Monthly Skew         -
Monthly Kurt         -
Best Month           2.51%
Worst Month          2.51%

Yearly Sharpe        -
Yearly Sortino       -
Yearly Mean          -
Yearly Vol           -
Yearly Skew          -
Yearly Kurt          -
Best Year            -
Worst Year           -

Avg. Drawdown        -1.40%
Avg. Drawdown Days   2.00
Avg. Up Month        2.51%
Avg. Down Month      -
Win Year %           -
Win 12m %            -

#5. Estratégia de Cruzamente de Médias

In [ ]:
mm50 = pd.DataFrame()
mmm200 = pd.DataFrame()

mm50 = bta.sma(btc_close.sinal, period=50).df
mm200 = bta.sma(btc_close.sinal, period=200).df

mm50['sinal'] = mm50
mm200['sinal'] =mm200

In [ ]:
mm200

                            sma       sinal
date
2021-03-27 14:15:00         NaN         NaN
2021-03-27 14:30:00         NaN         NaN
2021-03-27 14:45:00         NaN         NaN
2021-03-27 15:00:00         NaN         NaN
2021-03-27 15:15:00         NaN         NaN
...                         ...         ...
2021-04-06 23:00:00  334242.645  334242.645
2021-04-06 23:15:00  334202.585  334202.585
2021-04-06 23:30:00  334158.640  334158.640
2021-04-06 23:45:00  334115.720  334115.720
2021-04-07 00:00:00  334082.445  334082.445

[1000 rows x 2 columns]

In [ ]:
posicao_2 = btc_up.copy()

In [ ]:
posicao_2['sinal'] =0

In [ ]:
posicao_2[mm50 > mm200] = 1.0
posicao_2[mm50 <=mm200] = -1.0
posicao_2.fillna(0)

                     sinal
date
2021-03-27 14:15:00      0
2021-03-27 14:30:00      0
2021-03-27 14:45:00      0
2021-03-27 15:00:00      0
2021-03-27 15:15:00      0
...                    ...
2021-04-06 23:00:00     -1
2021-04-06 23:15:00     -1
2021-04-06 23:30:00     -1
2021-04-06 23:45:00     -1
2021-04-07 00:00:00     -1

[1000 rows x 1 columns]

In [ ]:
mmovel = bt.Strategy('mmovel', [bt.algos.WeighTarget(posicao_2),
                                bt.algos.Rebalance()])

In [ ]:
teste_2 = bt.Backtest(mmovel, btc_close)

In [ ]:
resultado2 = bt.run(teste_2)
resultado2.display()

Stat                 mmovel
-------------------  ----------
Start                2021-03-26
End                  2021-04-07
Risk-free rate       0.00%

Total Return         -2.36%
Daily Sharpe         -2.77
Daily Sortino        -4.26
CAGR                 -51.67%
Max Drawdown         -4.22%
Calmar Ratio         -12.25

MTD                  -4.20%
3m                   -
6m                   -
YTD                  -2.36%
1Y                   -
3Y (ann.)            -
5Y (ann.)            -
10Y (ann.)           -
Since Incep. (ann.)  -51.67%

Daily Sharpe         -2.77
Daily Sortino        -4.26
Daily Mean (ann.)    -48.69%
Daily Vol (ann.)     17.59%
Daily Skew           0.33
Daily Kurt           0.30
Best Day             2.02%
Worst Day            -1.80%

Monthly Sharpe       -
Monthly Sortino      -
Monthly Mean (ann.)  -50.40%
Monthly Vol (ann.)   -
Monthly Skew         -
Monthly Kurt         -
Best Month           -4.20%
Worst Month          -4.20%

Yearly Sharpe        -
Yearly Sortino       -
Yearly Mean          -
Yearly Vol           -
Yearly Skew          -
Yearly Kurt          -
Best Year            -
Worst Year           -

Avg. Drawdown        -2.15%
Avg. Drawdown Days   4.00
Avg. Up Month        -
Avg. Down Month      -4.20%
Win Year %           -
Win 12m %            -

In [ ]:
benchmark = bt.Strategy('benchmark', [bt.algos.RunYearly(),
                                      bt.algos.SelectAll(),
                                      bt.algos.WeighEqually(),
                                      bt.algos.Rebalance()])

benchmark_teste = bt.Backtest(benchmark, btc_close)
b_resultado = bt.run(teste_2,benchmark_teste)
b_resultado.display()

Stat                 mmovel      benchmark
-------------------  ----------  -----------
Start                2021-03-26  2021-03-26
End                  2021-04-07  2021-04-07
Risk-free rate       0.00%       0.00%

Total Return         -2.36%      4.04%
Daily Sharpe         -2.77       3.17
Daily Sortino        -4.26       6.10
CAGR                 -51.67%     233.85%
Max Drawdown         -4.22%      -3.08%
Calmar Ratio         -12.25      76.03

MTD                  -4.20%      -1.50%
3m                   -           -
6m                   -           -
YTD                  -2.36%      4.04%
1Y                   -           -
3Y (ann.)            -           -
5Y (ann.)            -           -
10Y (ann.)           -           -
Since Incep. (ann.)  -51.67%     233.85%

Daily Sharpe         -2.77       3.17
Daily Sortino        -4.26       6.10
Daily Mean (ann.)    -48.69%     86.73%
Daily Vol (ann.)     17.59%      27.34%
Daily Skew           0.33        -0.01
Daily Kurt           0.30        -0.35
Best Day             2.02%       3.46%
Worst Day            -1.80%      -2.48%

Monthly Sharpe       -           -
Monthly Sortino      -           -
Monthly Mean (ann.)  -50.40%     -18.06%
Monthly Vol (ann.)   -           -
Monthly Skew         -           -
Monthly Kurt         -           -
Best Month           -4.20%      -1.50%
Worst Month          -4.20%      -1.50%

Yearly Sharpe        -           -
Yearly Sortino       -           -
Yearly Mean          -           -
Yearly Vol           -           -
Yearly Skew          -           -
Yearly Kurt          -           -
Best Year            -           -
Worst Year           -           -

Avg. Drawdown        -2.15%      -1.57%
Avg. Drawdown Days   4.00        2.33
Avg. Up Month        -           -
Avg. Down Month      -4.20%      -1.50%
Win Year %           -           -
Win 12m %            -           -

#6. Estratégia de alocação

In [ ]:
cripto = pd.merge(btc_close, eth_df['close'], how='inner', left_index=True, right_index=True)

In [ ]:
cripto

                        sinal     close
date
2021-03-27 14:15:00  315659.0   9721.19
2021-03-27 14:30:00  316223.0   9733.60
2021-03-27 14:45:00  316500.0   9745.21
2021-03-27 15:00:00  317142.0   9759.39
2021-03-27 15:15:00  317974.0   9767.33
...                       ...       ...
2021-04-06 23:00:00  329238.0  12011.07
2021-04-06 23:15:00  328836.0  12002.38
2021-04-06 23:30:00  328169.0  11968.32
2021-04-06 23:45:00  328657.0  11969.50
2021-04-07 00:00:00  329126.0  12016.93

[1000 rows x 2 columns]

In [ ]:
alocacao = bt.Strategy('alocacao', [bt.algos.RunWeekly(),
                                    bt.algos.SelectAll(),
                                    bt.algos.WeighEqually(),
                                    bt.algos.Rebalance()])

In [ ]:
teste_3 = bt.Backtest(alocacao, cripto)
resultado_3 = bt.run(teste_3)
resultado_3.display()

Stat                 alocacao
-------------------  ----------
Start                2021-03-26
End                  2021-04-07
Risk-free rate       0.00%

Total Return         13.04%
Daily Sharpe         7.21
Daily Sortino        17.82
CAGR                 4074.45%
Max Drawdown         -3.16%
Calmar Ratio         1288.81

MTD                  4.69%
3m                   -
6m                   -
YTD                  13.04%
1Y                   -
3Y (ann.)            -
5Y (ann.)            -
10Y (ann.)           -
Since Incep. (ann.)  4074.45%

Daily Sharpe         7.21
Daily Sortino        17.82
Daily Mean (ann.)    264.88%
Daily Vol (ann.)     36.73%
Daily Skew           0.16
Daily Kurt           0.18
Best Day             5.14%
Worst Day            -3.16%

Monthly Sharpe       -
Monthly Sortino      -
Monthly Mean (ann.)  56.33%
Monthly Vol (ann.)   -
Monthly Skew         -
Monthly Kurt         -
Best Month           4.69%
Worst Month          4.69%

Yearly Sharpe        -
Yearly Sortino       -
Yearly Mean          -
Yearly Vol           -
Yearly Skew          -
Yearly Kurt          -
Best Year            -
Worst Year           -

Avg. Drawdown        -2.02%
Avg. Drawdown Days   2.50
Avg. Up Month        4.69%
Avg. Down Month      -
Win Year %           -
Win 12m %            -